{% extends '/admin/base.html.twig' %}

{% block title %}New Formation{% endblock %}

{% block body %}
    <h1 id= "center-content" >Create new Formation</h1>

    {{ include('formation/_form.html.twig') }}

{% endblock %}
